@charset "utf-8";

#page {
    width: 800px;
    margin: 0 auto;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 20px 50px 30px 50px;
}

#svg-present {
    width: 800px;
    height: 300px;
    margin: 0 0 30px 0;

    /* CSS3 */
    -moz-box-shadow: 0 0 2em #999;
    -webkit-box-shadow: 0 0 2em #999;
    box-shadow: 0 0 2em #999;
}
